.displayDesktop {
  display: contents;
}
.displayDesktopBlock {
  display: block;
}
.displayMobile, .displayMobileBlock {
  display: none;
}

body {
  height: 100vh;
  /* font-family: "Montserrat,sans-serif"; */
  font-family: "Verdana";
  color: white;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(#3e0d52, #1c0840);
}

.Home, .home {
  width: auto;
  height: 100vh;
  z-index: -39;
}

.homeCol {
  margin: auto;
}

.logoNavbarImg {
  width: 30vh;
  margin: 1vh;
}

a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

.popupButton:hover, .popupButtonClose:hover, .audioDiv:hover, .subNavbarMenuNotSelected:hover,
.coinDiv:hover, .mintButton:hover, .wideButton:hover ,.wideButtonRed:hover, .navbarLinkElement:hover,
.scratchyCardScratchable:hover, .logo:hover {
  cursor: pointer;
}

.popupButtonClose, .mintButton, .wideButton, .wideButtonRed {
  background-color: #5534f5;
  font-size: 2rem;
  vertical-align: middle;
  margin: auto;
  width: 12rem;
  border-radius: 1vh;
}

.mintButton {
  width: 20rem;
  font-size: 1rem;
  line-height: 3.2rem;
  /* height: 3rem; */
  margin-bottom: 2vh;
}

.enterTitle {
  font-size: 3rem;
  margin: 3vh;
}

.flexAlignLeft {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-left: 4vh;
}

.quantitySelectorRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 3rem;
}

.minusPlusImage {
  width: 2rem;
}

.minusPlusImage:hover {
  cursor: pointer;
}






@media only screen and (max-width: 1199.98px){
  .displayDesktop, .displayDesktopBlock {
    display: none;
  }
  .displayMobile {
    display: contents;
  }
  .displayMobileBlock {
    display: block;
  }

  .flexAlignLeft {
    display: block;
    margin: 0;
  }
}
